.search-form
  label
    display block
    clear both

  .input-group
    margin-top 10px

.results
  margin-top 40px
  border-top 1px solid #888
  padding-top 20px

.result
  margin-bottom 20px

  .result-title
    a
      font-size 18px
      text-decoration none

  .result-url
    a
      font-size 14px
      text-decoration none
      font-style italic

.result.positive
  .result-title
    a
      color #3C763D

.result.negative
  .result-title
    a
      color #A94442


.results-positive-count
  color #3C763D

.results-neutral-count
  color #337AB7

.results-negative-count
  color #A94442